@font-face {
  font-family: "Fredoka";
  @import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap");
}

:root {
  --main: rgba(0, 195, 255, 0.3);
  --white: white;
  --black: black;
}

body {
  margin: 0 auto;
  background-color: var(--main);
}

a {
  text-decoration: none;
  color: var(--black);
  text-transform: uppercase;
  font-family: "Fredoka", Arial, sans-serif;
}

a:hover {
  font-size: 1.5em;
}

header {
  background-color: var(--white);
  display: flex;
  align-items: center;
}

.titleName {
  font-size: 2.5em;
  margin-right: 1.5em;
  margin-left: 3em;
  font-family: Arial;
}

.portfolioIndex {
  font-size: 2.5em;
  margin-right: 10em;
  font-family: Arial;
}

ul {
  display: inline-flex;
  font-size: 2em;
  list-style: none;
}

ul li {
  padding-right: 1em;
}

.titleIndex {
  font-size: 5em;
  font-family: Arial;
  text-transform: uppercase;
  text-align: center;
  padding: 1em 0;
}

.indexText {
  font-size: 2em;
  background-color: var(--white);

  max-width: 50em;
  gap: 3em;
  align-items: center;
  margin-left: 8em;
}

#indexParagraph {
  margin: 1 auto;
  text-align: center;
  padding: 1em;
  text-align: left;
}

.portfolioSection {
  font-size: 2em;
  background-color: var(--white);
  max-width: 50em;
  border: 1em solid var(--white);
  border-radius: 2em;
  align-items: center;
  margin-left: 8em;
}

.portfolios {
  justify-content: center;
  text-align: center;
}

img {
  max-width: 5em;
}
